<pre>
...............................................................................................................
.....................................................................`.....`...................................
...................................................................("......'/..................................
..................................................................j.........:x`................................
........................................................:".......["..........1j................................
............................................."I;......[..........1".........."X................................
....................................i}......j!......./'..........l;...........nI...............................
.....................................|/....w^.......-v............f...........v`...............................
.....................................fz...cj.!JI....1<....l......./..+.......[x................................
.....................................ZX..>wk@@l....If......(:.....<.........!{.................................
.....................................dz.-k@@@Z....`+........v..;+....}.....!_..................................
....................................(dZQ@@@@@i.......+.....!0..lt...:X....+....................................
....................................Qdh@@@@@Z........(`....||.:Jn..:dz...............:.........................
...................................;Zk@@@@@@_........|x..../wtkQYI(mw".............Ij..........................
.................,;<[/Xz<..........Qb@@@@@@@i...."-..|d.j..cW@kpdwCd0<.............x!..........................
........................"zhQ'.....d@@@@@@@@@wtZ@#i,../dd..C@@Zwd0j0ddp#f..........,1...........................
...........................Q@)....v@@@@@@@@@@@@p:!z.iOdz.t@@@cxMx(nwda@#-.........;-...........................
............................a@b'..J@@@@@@@@@@@@0-dv}"Xdwt@@@@@ztxf#zC$@o].........;)...........................
........................_I..f@@@@B@@@@@@@@@@@@@ok@BcXChvzB@@@a#vawYo@@@@I.........:)...........................
........................!@x..@@@@@@@@@@@@d@@@@@@@@@@@bOjc@@@@@@@@@@@@@@@1.........!!...........................
.........................o@@@@@@@@@@@@@@@@0@@@@@@@@@@@@@jY@b@@@@@@@@@@@@@.l......I.............................
........................."@@@@@@@@@@@@@@@@BJ@@@@@@@@@@@(/JW@#@@@@@@@@@@@@-Z....................................
..........................lO@@@@@@@@@@@@@@@Zw@w*@@@@@@@(j@#@@@@@@@@f@@@@@hm....................................
...........................;J@@@@@@@@@@@@@@@@@@@n@@@@@@(z@@b#M#@@o@0@@@@hd0..,'................................
.....................;}!..^QX-b@@@@@@@@@@@@@@@@@W@@@@@@@z@$X@@@@zf@@@@@@oddYY/.................................
....................IZt..+@@C.)z@@@@@@@@@@@@@@@@a@@@@@@@@@w@*pc/C@d@@@@@*dddX(I................................
....................r@C)(@@@#|/@@@@@@@@@@@@@@@@@@m@@@@@@@@@@J|@@@@@@@@@@MddpJj.................................
.............__.....*@@J#@@@@@@@@@@@@@@@@@@@@@@@@@d@@@@@@@@@@@@@mC@@@@@@$h*@a!.................................
.............|......@@@@@W@@@@@@@@@@@@@@@@@@@@o@@@@o@@@@@@@@@@@Ca@@@@@@@@@@v!..................................
............JI.....x@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@hl....................................
...........~C/.....X@@@@@@@@@@@@@@@@@@fto@@@@@@@@@@@@@@@@@@@@@@BB@@@@@@Z~!.....................................
..........r/.{.....X@@@@@@@@@@@@@@@d+...:@@@@@@@@@@@@@@@@@@@@@@fc@@@@@@n.......................................
.........)]..}.....@@@@@@@@@@@@@@@@).....-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*Q..................I..................
.........xx..f"...j@@@@@@@@@@@@$@@|.......r@@@@@@@@@@@@@@@@@@@r@@@@@@@@@@`..................+<......))'........
.........'Xn.f..-|@@@@@@@@@@@@@@0!........IJ@@@@@@@@@@@#@@@@@rd@@@@@@@@@@@...j[..............lz!.{...;Qj.......
........."JQv!._j$@@@@@@@@@@@@C)'.......>|I.)m@@@@h@@@*@*@@@@J@@@@@@@@@@@@@0k@#.........;JJ".."Y}x....rdx......
.........+wdprn/J@@@@@@@o@@@o||^..........n("|0@@@@czjXBBka@XQ@@@@Jw@@@@@@@@@@@d......._@@j.`..cf}>..`zQZ0.....
........"Jddch@@@@@@@@@@@@@@@C1............p!+O@@r@@@@@@b|jxbd$@@0||@@@@@@@@@@@@@@#{."@@@z...*cwwkZCXCcM@}.....
........r0z@@@@@@@@@@@@@@@@@@@@}".........^!x[|Q@@BaY@@@m||x@@@Xt/h@@@@@@@@@@@@@@@@@@@@@@@0Xfw@@dC@kx*@@m......
.......lY@@@@@@@@@@@@@@@@@@@@@@@l.........~.n}(h#o@@@0/fC@M@@@r/|W@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@p.......
......'0@@@@@@@@0,.......`[@@@@p..........j..cQ@@@B$@@C@@odM@0M@]....i}t}b@@@@@@@@@@@@@@@@@@@@@@@@@@@-.........
......!o@@@@@@+............;@@@X..........]]Cm{@@@@@k@0x@@0@ocBnI.............!Cph@@@@@@@@@@@@@@@@@@:..........
.......@@@@@@~...$..........{@@@...........m@@x)@@@@@$X@@*B@Z".........................~fd@@@ab@@M|............
.......@@@@@@cdp@@...........1@@............d@Wnw@@zc@@C$@@@@-.................................................
.......O@@@@@@@@n...".........@,.............t0@wx@@@@@/xcd@@@)................................................
......."a!.I@@@@@@@h..........................;p@@@@@MJ@@@@@@@f................................................
........_+....I;`...............................>B@@Q@@Znz@@@{.................................................
..................................................ndz@@@X@@@v..................................................
</pre>
